/* 
1. Make the box-sizing model more intuitive.

Without this rule, the width of an element will not include padding or border, which makes it difficult to predict the final size of an element.

*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
2. Remove the default margin.

Browsers apply default margins to things like headers,
but these are often not appropriate for a modern web application. It's easier to start from scratch.
*/
* {
  margin: 0;
}

/*
3. Update the line height to a more accessible value.

The WCAG recommends a line height of 1.5 for body text,
and most browsers use less than that by default.

You will likely want to override this on elements
with large type, such as headings.

4. Improve font rendering.
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 
5. Improve media defaults.
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6.
Inherit fonts for form controls.
*/
input,
button,
textarea,
select {
  font: inherit;
}

/* 
7. Avoid text overflows.

*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 
8. Improve line wrapping.

*/
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 
9. Create a root stacking context.
*/
#root,
#__next {
  isolation: isolate;
}
